<% content_for :title, "Editing mining type" %>

<h1>Editing mining type</h1>

<%= render "form", mining_type: @mining_type %>

<br>

<div>
  <%= link_to t('links.show_specific_coin'), @mining_type %> |
  <%= link_to t('links.show_all_coins'), mining_types_path %>
</div>
